@import '../../style/_vars.scss';

@mixin background($imgpath, $position:0 0, $size: cover, $repeat: no-repeat) {
    background: {
        image: url($imgpath);
        position: $position;
        size: $size;
        repeat: $repeat;
    }
}

body {
  height: 100vh;
  @include background('../../assets/174850543.jpg', -70vh 0);
}

.name-block {
  height: 40vh;
  background-color: $color-background;
  border-top: 1px solid $color-grey;
  border-bottom: 1px solid $color-grey;

  h1 {
    font-family: 'TallDeco';
    font-size: 9.6em;
    padding-left: 20vw;
    padding-top: 5vw;
  }
}

.name-block-buffer-top {
  height: 18vh;
}
