$color-primary: rgba(255, 186, 28, 100);
$color-secondary: rgba(255, 186, 28, 60);
$color-border: rgba(121, 87, 52, 100);
$color-background: #18151A;
$color-hover: rgba(255, 186, 28, 100);
// $color-rest: ;
// $color-success: ;
// $color-error: ;
$color-white: #fff;
$color-black: #000;
// $color-lightgrey: ;
// $color-grey: ;
// $color-darkgrey: ;

$pad: 0.5em;

$font-headline: 'TallDeco', monospace;
$font-primary: 'EastMarket', sans-serif;
