$color-primary: rgb(255, 186, 28);
$color-border: rgb(121, 87, 52);
$color-background: #18151A;
$color-hover: rgb(255, 186, 28);
// $color-rest: ;
// $color-success: ;
// $color-error: ;
$color-white: #fff;
$color-black: #000;
// $color-lightgrey: ;
$color-grey: #979797;
// $color-darkgrey: ;

$pad: 1em;

$font-headline: 'TallDeco', monospace;
$font-menu: 'EastMarket', sans-serif;
$font-paragraph: 'Gill Sans', sans-serif;

//***** mixins *****

@mixin background($imgpath, $position:0 0, $size: cover, $repeat: no-repeat) {
    background: {
        image: url($imgpath);
        position: $position;
        size: $size;
        repeat: $repeat;
    }
}
