@import '../../style/_vars.scss';

#work-page {
  #work-page-buffer-top{
    height: 15vh;
  }
  h1 {
    font-family: $font-menu;
    font-size: 3.6em;
    text-align: center;
    margin: 0 auto;
  }

  hr {
  background: $color-primary;
  height: 1px;
  width: 40vw;
  border: 0;
  margin: 0 auto;
  margin-top: 1em;
  margin-bottom: 2em;
  }

  img {
    width: 80vw;
    height: auto;
    margin: 0 auto;
    margin-bottom: 5vh;
    padding: $pad;
    box-shadow: 0 0 30px $color-border;
  }

  p {
    font-family: 'Gill Sans';
    font-weight: lighter;
    width: 85vw;
    margin: 0 auto;
    margin-bottom: 10vh;
    padding: $pad;
    font-size: 2em;
    opacity: 0.9;
    line-height: 1.8em;
  }

  .navbutton {
    width: 100%;
    margin-top: -10vh;
  }
}
